# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

schedules:
- cron: "0 0 * * 0"
  displayName: Weekly Sunday build
  branches:
    include:
    - master
  always: true

# Windows Build Job
jobs:
- job: WindowsBuild
  pool:
    vmImage: 'windows-2019'

  steps:
  - checkout: self  # self represents the repo where the initial Pipelines YAML file was found
    path: UefiToolkitPkg

  - powershell: |
      $PYTHON3_PATH = ((Get-Item C:\hostedtoolcache\windows\Python\3*\x64) | Sort-Object -Descending)[0].FullName
      echo "##vso[task.setvariable variable=PYTHON3]$PYTHON3_PATH"

    displayName: 'Detect Python3 installation path'

  - script: |
      cd..
      git clone https://github.com/tianocore/edk2
      cd edk2
      git submodule update --init
      cd..
      xcopy /e /y UefiToolkitPkg edk2\UefiToolkitPkg\
      cd edk2
      set PYTHON_HOME=$(PYTHON3)
      set NASM_PREFIX=%cd%\UefiToolkitPkg\Tools\Nasm\
      call edksetup.bat rebuild
      call build -a IA32 -a X64 -b RELEASE -t VS2019 -p UefiToolkitPkg\UefiPkg.dsc
    displayName: 'Run a Windows build script'

  - script:
      xcopy /y ..\edk2\Build\UefiToolkitPkg\RELEASE_VS2019\X64\*.efi $(Build.ArtifactStagingDirectory)\
    displayName: 'Copy build files to Artifact'

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: $(Build.ArtifactStagingDirectory)
      artifactName: UefiPkgBinary_Win

# Linux Build Job
- job: LinuxBuild
  pool:
    vmImage: 'ubuntu-20.04'

  steps:
  - checkout: self  # self represents the repo where the initial Pipelines YAML file was found
    path: UefiToolkitPkg

  - script: |
      chmod +x build.sh
      ./build.sh
    displayName: 'Run a Linux build script'

  - script: |
      cp edk2/Build/UefiToolkitPkg/RELEASE_GCC5/X64/*.efi $(Build.ArtifactStagingDirectory)/
    displayName: 'Copy build files to Artifact'

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: $(Build.ArtifactStagingDirectory)
      artifactName: UefiPkgBinary_Linux
